{% extends 'base.njk' %}
{%block title%}
<title>Main page</title>
    {%endblock%}

 {%block pageTitle%}
 Main page
 {%endblock%}


{% block pageContent %}
<style>
    .data-table {
        border-collapse: collapse;
    }
    .border-bottom {
        border-bottom: 1px solid #000;
    }
</style>

<table class="data-table">
    <tr>
        <th class="border-bottom">Method</th>
        <th class="border-bottom">Small file</th>
        <th class="border-bottom">Big file</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
{% endblock %}